/* Customise Foundation5 default styles here */
h3 {
    font-size: 1.3rem;
}

table tr:nth-of-type(2n) {
    background-color: #ffffff;
}

.refbase-credit a {
    float: right;
}

.button {
    margin: 0;
}

ul.pagination {
    margin-bottom: 0;
}

table {
    border-collapse: inherit;
}

/* Modified refbase default CSS  */
#queryrefs fieldset {
    margin: 0;
}

#recentlinks {
    margin-left: -15px;
    font-size: 1em;
}

#recentlinks ul {
    list-style: none;
}

.resultviews {
    display: inline;
    font-size: 0.85em;
}

.activeview {
    display: inline;
    font-size: 1em;
}

.leftview {
    display: inline;
    font-size: 1em;
}

.middleview {
    display: inline;
    font-size: 1em;
}

.rightview {
    display: inline;
    font-size: 1em;
}

.citation .moreinfo .reflinks {
    margin-top: 0.8em;
}

.citation .moreinfo .reflinks > * {
    display: inline;
}

div.resultsheader {
    margin: 1.2em 3.0em 0.9em 3.0em;
}

hr.resultsheader, hr.resultsfooter {
    width: 93%;
    background-color: #DEDEDE;
    height: 1px;
    border: 0;
}

div.resultsfooter {
    margin: 1.2em 3.3em 0.9em 3.3em;
}

.record {
    text-transform: none;
}

.record:nth-of-type(2n) {
    background-color: #f9f9f9;
}

.record .mainfieldsbg:nth-of-type(2n), .record .userfieldsbg:nth-of-type(2n), .record .otherfieldsbg:nth-of-type(2n) {
    border-left: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;
    font-weight: bold;
}

select[multiple] {
    height: 10rem
}